<p><h1>TODO List</h1></p>
<div id="TODO_area">
  <% @todos.each do |todo| %>
      <%= erb :_delete, locals: {todo: todo}, layout: false %>
  <% end %>
</div>
<div>
  <a id="new_todo" href="/todos/new">New TODO</a>
</div>
